__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.venv/
.venv311/
.env
wandb/
logs/
outputs/
*.log
*.zip
data/raw/
features/**/*.pt
features/*.pt
models/**/*.pt
models/*.pt
!models/best_model.pt
results/**/*.png
results/*.png
results/**/*.json
results/*.json
results/*.txt
results/pdf_streams/
