torch
torchvision
torchaudio
transformers==4.40.2
librosa
Pillow
scikit-learn
matplotlib
seaborn
tqdm
wandb
pandas
numpy==1.26.4
soundfile
streamlit
kaggle
kagglehub[pandas-datasets]
opencv-python-headless==4.9.0.80
imageio-ffmpeg
joblib
